* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-image: url(/img/closed.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}

div {
	margin: 0;
	padding: 0;
	height: 0;
	overflow: hidden;
}