doctype 5
html(lang='ko')
  head
    meta(charset='utf-8')
    title Frost
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0')
    link(href='/css/closed.css', rel='stylesheet')
  body
    div
      h1 Frost
      p Team Wangsimni
      p 서비스 준비 중입니다.