doctype 5
html(lang='ko')
  head
    meta(charset='utf-8')
    title Frost
    meta(name='viewport', content='width=device-width, initial-scale=1,  user-scalable=0')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    link(href='/css/home.css', rel='stylesheet')
  body
    .container
      .row
        .col-xs-12.page-header
          h1
            | Frost 
            small Team Wangsimni
      .row
        .col-xs-12
          a.btn.btn-primary.btn-block(href='result')
            비싸면 안 돼요
      .row
        .col-xs-12
          p
      .row
        .col-xs-12
          a.btn.btn-primary.btn-block(href='result')
            비싸도 괜찮아요

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
