doctype 5
html(lang='ko')
  head
    meta(charset='utf-8')
    title Frost
    meta(name='viewport', content='width=device-width, initial-scale=1,  user-scalable=0')
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")
    link(href='/css/result.css', rel='stylesheet')
  body
    .container
      // .row
      //  .col-xs-12.page-header
      //    h1
      //     | Frost 
      //      small Team Wangsimni
      .row
        .col-xs-12
          h2 삽겹살우마이
          img.img-responsive(src='http://www.southpacifichotel.com.hk/images/photo-tour-pics/lu_lu_restaurant.jpg')
      hr
      .row
        .col-xs-12
          .star
            span.star-text
              전문가 평균
            br
            ★★★★★
      hr
      .row
        table
          tr
            td.col-xs-3 예상 비용
            td.col-xs-9 ₩12,345
          tr
            td.col-xs-3 전화
            td.col-xs-9 123-456-789
          tr
            td.col-xs-3 위치
            td.col-xs-9 알촌을 끼고 왼쪽으로 돌아 10.24km
          tr
            td.col-xs-3 좌표
            td.col-xs-9 21.000000, 23.0120123
      hr
      .row
        .col-xs-12
          h3 전문가 평점
          ul
            li
              h4
                | 탁탁 
                small ★★★★★
              p 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요!
              hr
            li
              h4
                | 거대한 래드 팬더
                small ★★★★★
              p 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요! 맛있었어요!
              hr
            li
              h4
                | 삼겹살 최고! 
                small ★★★★★
              p 여기 최고예요!
      hr
      .row
        .col-xs-12
          h3 지도
          


          

    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
