ion-view(title="'" + title + "'")
  ion-content(has-header='true', padding='true')
    .card
      .item.item-text-wrap
        | Team Wangsimni에서 제공하는 왕십리 음식점 선택 서비스입니다.
    .card
      .item.item-text-wrap
        | 1인 예상 가격 10,000원을 기준으로 원하는 가격대를 선택하세요. 버튼을 누르세요. 나머지는 저희가 해결해 드립니다.
    a.button.button-block.button-balanced(ng-href='#/run/low')
      | 비싸면 안 돼요
    a.button.button-block.button-energized(ng-href='#/run/')
      | 비싸도 괜찮아요
    a.button.button-block.button-assertive(ng-href='#/run/luxury')
      | 비싸야 돼요
    .card
      .item.item-divider
        p Frost를 친구들과 함께 사용해 보세요.
      .item
        a(href='kakaolink://sendurl?msg=Frost&nbsp;최고!&nbsp;Team&nbsp;Wangsimni에서&nbsp;제공하는&nbsp;왕십리&nbsp;음식점&nbsp;선택&nbsp;서비스입니다.%0A%0A안드로이드&nbsp;애플리케이션을&nbsp;다운로드해&nbsp;보세요%3A&url=https://play.google.com/store/apps/details?id=com.mintrupt.wangsimni.frost&appid=com.mintrupt.wangsimni.frost&appname=Frost&appver=0.3')
          img.full-image(src='img/btn_kakaotalk.png')
