<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mintrupt.wangsimni.frost"
        version   = "0.3">
    <name>Frost</name>
    <description>Frost rocks!</description>
    <author href="http://frost.wangsimni.mintrupt.com/"
            email="teamwangsimni@gmail.com">팀 왕십리</author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions"                value="none"/>
    <preference name="phonegap-version"           value="3.3.0" />
    <preference name="orientation"                value="default" />
    <preference name="target-device"              value="universal" />
    <preference name="fullscreen"                 value="false" />-->
    <preference name="prerendered-icon"           value="false" />
    <preference name="ios-statusbarstyle"         value="black-opaque" />
    <preference name="detect-data-types"          value="false" />
    <preference name="exit-on-suspend"            value="false" />
    <preference name="auto-hide-splash-screen"    value="true" />
    <preference name="disable-cursor"             value="false" />
    <preference name="android-minSdkVersion"      value="7" />
    <preference name="android-installLocation"    value="auto" />

    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    
    <icon src="res/icon.png" />
    
    <access origin="*" />

	<gap:platform name="android" />
</widget>
